fastapi
uvicorn
motor
dnspython
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
dotenv
certifi
####
pandas
tenacity
requests
httpx>=0.24.0
cachetools>=5.3.0   # opcional, para caché simple en memoria
python-dotenv>=1.0.0
